name: Launcher Build

on:
  push:
    branches: [ master ]

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.create_release.outputs.id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Récupérer la version
        run: echo "version=$(jq -r .version package.json)" >> $GITHUB_ENV

      - name: Créer la release GitHub
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.version }}
          release_name: Release ${{ env.version }}
          draft: false
          prerelease: ${{ contains(env.version, 'beta') || contains(env.version, 'alpha') }}

  build-launcher:
    needs: create-release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Installer les dépendances
        run: npm ci
        shell: bash

      - name: Construire le launcher
        run: npm run build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash

      - name: Upload des fichiers finaux vers la release
        run: |
          echo "Installation de la CLI GitHub..."
          if ! command -v gh &> /dev/null; then
            if [ $RUNNER_OS != 'Windows' ]; then
              sudo apt update && sudo apt install gh -y || true
            else
              choco install gh -y
            fi
          fi

          if [ -d dist ]; then
            echo "Upload des fichiers du dossier dist/"
            for file in dist/*; do
              if [ -f "$file" ]; then
                echo "Upload de $file"
                gh release upload ${{ needs.create-release.outputs.release_id }} "$file" --clobber
              fi
            done
          else
            echo "Le dossier dist/ n'existe pas. Aucun fichier à uploader."
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
